<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>subpage {{level}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" routerLink="subpage">subpage</ion-button>

    <p *ngFor="let p of [].constructor(10)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eos officia suscipit labore commodi fugiat, ab nesciunt officiis. Magnam ipsam hic ea cupiditate asperiores illum reiciendis repudiandae, unde natus a. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, cupiditate, dolore quos, quas consectetur repudiandae explicabo ipsum beatae est provident laboriosam! Ipsa quas natus dolor! Eum consequatur fugiat possimus libero!</p>
  </div>

</ion-content>
